* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "inter", sans-serif;
  color: black;
  line-height: 1;
  display: flex;
  justify-content: center;
}
table {
  width: 800px;
  margin-top: 100px;
  border-collapse: collapse;
  font-size: 18px;
}
th,
td {
  padding: 16px 24px;
  text-align: left;
}
thead th {
  background-color: rgb(10, 10, 100);
  color: #fff;
  width: 25%;
}
tbody tr:nth-child(even) {
  background-color: rgb(218, 218, 218);
}
tbody tr:nth-child(odd) {
  background-color: rgba(247, 247, 247, 0.822);
}
